{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <main>
      <div>
        <h1>Create Category</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Create</button>
        </form>
        {% endblock %}
      </div>
    </main>
  </body>
</html>
